*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'h h'
    'm m'
    'c s'
    'f f';
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto auto auto;
}

.header{
    grid-area: h;
    padding: 10px;
    width: 100%;
    height: 15vh;
    background-color: #22b6fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#company{
    font-size: 36pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}
#address{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}
.menu_h{
    position: sticky;
    top: 0;;
    box-sizing: content-box;
    height: 10vh;
    grid-area: m;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000098;
    z-index: 2;
}
.ul_h1, .ul_h2{
    display: flex;
    width: min-content;
    padding: 0;
    height: fit-content;
    margin: 0;
}
.menu_h a{
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;  
    padding: 0 15px;
    line-height: 10vh;
    text-transform: capitalize;
    color: whitesmoke;
    font-size: 22pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
.menu_h a:hover{
    position: relative;
    z-index: 2;
    color: #000098;
    background-color: whitesmoke;
    transform: scale(1.07);
    transition:all 0.25s linear;    
}

.content{
    grid-area: c;
    background-color: #c0faff;
    color: rgb(20, 60, 0);
    font-size: 18px;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content p{
    margin: 10px auto;
}
h1{
    font-size: 26px;
    font-weight: 600;
    font-family: Calibri, 'Trebuchet MS', sans-serif; 
}

.content_img{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px;
    margin: 10px auto;
}
.content_img img{
    width: 100%;
}

/* -- objednavka -- */
#frm_order{
    display: block;
    text-align: left;
    width: 465px;
    min-width: auto;
    font-size: 12pt;
    background-color: #b0d2ff;
}
#p_order_mesg{
    background-color: #d7fafd;
    box-shadow: 0 0 8px 8px #d7fafd;
    visibility: hidden;
}
#txta_comment{
    resize: none;
}
#div_comment{
    position: relative;
    z-index: 0;
}
#tooltip_comment{
    visibility: hidden;
  width: 220px;
  font-size: 11pt;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-color: rgba(121, 121, 121, 0.473);
  color: rgb(184, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 25%;
}
#div_lbl_compare_mesg{
    height: 24pt;
}

/* -- letiste -- */
#h_form{
    font-size: 12pt;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(43, 43, 43);
    margin-top: 10px;
}
#form{
    background-image: url(../images/box.gif);
    height: 166px;
    width: 203px;
    margin: 15px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#form img{
    grid-column: 3/4;
    grid-row: 1/ 3;
    margin-top: 9px;
}
#form label{
    font-size: small;
    margin-top: 12px;    
}
#form input{
    margin-top:14px;
    margin-left: auto;
}
#form select{
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    margin: 0 10px;
    height: fit-content;
}
#form a{
    text-align: center;
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    font-size: small;
    text-decoration: none;
    color: rgb(204, 0, 51);
}
#form a:hover{
    text-decoration: underline;
}
#form a:visited{
    text-decoration: none;
    color: rgb(204, 0, 51);
}

/* --- vertical menu --- */
.menu_v{
    grid-area: s;
    background-color: #2e2ed0;
    padding: 10px 10px;
}
.ul_v{
    padding: 0;
}
.ul_v img{
    width: 100%;
    height: auto;
    padding: 5px 0;
}

/* --- footer ---*/
.footer{
    grid-area: f;
    font-size: 18px;
    height: 15vh;
    background-color: #22b6fb;
    text-align: center;
    color: rgb(225, 252, 255);
    display: flex;
}
.footer video{
    justify-self: right;
}
.footer p{
    padding:10px 5px;
    margin: auto auto;
    font-family: 'Times New Roman', Times, serif;
}

/* --- responsivity --- */
@media screen and (max-width:1142px){
    .main{
        width: 100%;
    }
    #address{
        font-size: 16px;
    }
    .footer{
        height: 30vh;
    }
}
@media (max-width:908px){
    .menu_h a{
        font-size: 19pt;
    }
}
@media screen and (max-width:887px) {
    .main{
        grid-template-columns: 80% 20%;
    }
    .header{
        height: fit-content;
    }
    .menu_h a{
        font-size: 17pt;
        padding: 0 12px;
        
    }
    .content_img{
        width: 85%;
    }
}
@media screen and (max-width:742px){
    .main{
        display: block;
    } 
    .menu_h{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:16vh;
    }
    .menu_h ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .menu_h ul li a{
        line-height: 8vh;
    }
    .menu_v{
        display: none;
    }
    .content{
        width: 100%;
    }
    #frm_order{
        width: 85%;
    }
}
@media screen and (max-width:660px) {       
    .header img{
        display: none;
    }
    .menu_h{
        height:12vh;
    }
    .menu_h ul li a{
        line-height: 6vh;
        font-size: 20px;
    }
    .menu_h a:hover{
        font-size: 23px;
    }
    .content{
        font-size: 16px;
        width: 100%;
    }
    .content h1{
        font-size: 20px;
    }
    .content_img{
        display: block;
    }
    #frm_order{
        width: 100%;
    }
    .footer{
        font-size: 16px;
        height: 15vh;
    }    
}
@media screen and (max-width:550px) {
    #company{
        font-size: 32px;
    }   
    .menu_h ul li a{
        font-size: 18px;
        padding: 0 10px;
    }
    .menu_h a:hover{
        font-size: 21px;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
    }  
    .footer video{
        width: 100%;
        height: auto;
    } 
}
@media (max-width:465px){
    #company{
        font-size: 26px;
    }
    #address{
        font-size: 15px;
    }
}